<app-header></app-header>
<div style="background-color : #2d3e50">
<div id="frame" >
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
          <p>{{ activiteService.getConnected().nom }}  {{ activiteService.getConnected().prenom }}</p>
          <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
          <div id="status-options">
            <ul>
              <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
              <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
              <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
              <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
            </ul>
          </div>
          <div id="expanded">
            <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mikeross" />
            <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="ross81" />
            <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mike.ross" />
          </div>
        </div>
      </div>

      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search contacts..." />
      </div>

      <div id="contacts">
        <ul>
          <li class="contact" *ngFor="let chat of actualisationService.chats" (click)="toMessage(chat.utilisateur)">
            <div class="wrap">
              <span class="contact-status online"></span>
              <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
              <div class="meta">
                <p class="name">{{chat.utilisateur.nom}} {{chat.utilisateur.prenom}}</p>
                <p class="preview" *ngIf="(chat.messages.length > 0)">{{chat.messages[chat.messages.length-1].contenu}}.</p>
              </div>
            </div>
          </li>
          
        </ul>
      </div>

      <div id="bottom-bar">
        <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
        <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
      </div>
    </div>
    
    <div class="content">
      <div class="contact-profile" *ngIf="chatWith !=null">
        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
        <p >{{chatWith.nom }} {{chatWith.prenom}}</p>
        <div class="social-media">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
           <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
      
      <div class="messages">
        <ul>
          <li class="sent" *ngFor="let message of messages" [class]="message.envoyeur.id == connected.id ? 'sent' : 'replies'" >
            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
            <p>{{message.contenu}}</p>
          </li>
          
          
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input [(ngModel)]="message.contenu" type="text" placeholder="Write your message..." />
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button (click)="send()" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <app-footer></app-footer>
  <!--<script >$(".messages").animate({ scrollTop: $(document).height() }, "fast");
  
   $("#profile-img").click(function() {
    $("#status-options").toggleClass("active");
  });
  
  $(".expand-button").click(function() {
    $("#profile").toggleClass("expanded");
    $("#contacts").toggleClass("expanded");
  });
  
  $("#status-options ul li").click(function() {
    $("#profile-img").removeClass();
    $("#status-online").removeClass("active");
    $("#status-away").removeClass("active");
    $("#status-busy").removeClass("active");
    $("#status-offline").removeClass("active");
    $(this).addClass("active");
    
    if($("#status-online").hasClass("active")) {
      $("#profile-img").addClass("online");
    } else if ($("#status-away").hasClass("active")) {
      $("#profile-img").addClass("away");
    } else if ($("#status-busy").hasClass("active")) {
      $("#profile-img").addClass("busy");
    } else if ($("#status-offline").hasClass("active")) {
      $("#profile-img").addClass("offline");
    } else {
      $("#profile-img").removeClass();
    };
    
    $("#status-options").removeClass("active");
  });
  
  function newMessage() {
    message = $(".message-input input").val();
    if($.trim(message) == '') {
      return false;
    }
    $('<li class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
    $('.message-input input').val(null);
    $('.contact.active .preview').html('<span>You: </span>' + message);
    $(".messages").animate({ scrollTop: $(document).height() }, "fast");
  };
  
  $('.submit').click(function() {
    newMessage();
  });
  
  $(window).on('keydown', function(e) {
    if (e.which == 13) {
      newMessage();
      return false;
    }
  });
  //# sourceURL=pen.js 
  </script> -->