<script>var shopcartSettings = {"shopcart_top_offset":120,"side_offset":20,"site_width":1150,"shopcart_icon_color":"#FFFFFF","shopcart_back_color":"#2969b0","shopcart_icon_size":48,"sc_count_color":"#FFFFFF","sc_count_back_color":"#fc26ae","sc_count_size":12,"checkout_button":"Check Out with"};</script>

<section class="menu cid-qv1frvgcz3" once="menu" id="menu1-2z" data-rv-view="2037">
  
      
  
      <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <div class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </button>
          <div class="menu-logo">
              <div class="navbar-brand">
                  
                  <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="https://mobirise.com/bootstrap-template/">
                          KOZKOZ</a></span>
              </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                  
                   <div class="navbar-brand">
                          
                          <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" routerLink="explorer">
                                  Explorer avec la carte</a></span>
                  </div>
                  <div class="navbar-brand">
                          
                          <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" routerLink="chat">
                                  Message</a></span>
                  </div>
                  
                  <li class="nav-item dropdown">
                      <a class="nav-link link text-white dropdown-toggle display-4" href="page36.html" data-toggle="dropdown-submenu" aria-expanded="false">SITE TEMPLATES</a>
                          <div class="dropdown-menu">
                              <a class="text-white dropdown-item display-4" href="one-page.html">One Page Template<br></a>
                              <a class="text-white dropdown-item display-4" href="blog.html">Blog Template Demo<br></a>
                          </div>
                  </li>
              </ul>
              <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" (click)=disconnect() >
                      
                      DECONNEXION</a></div>
          </div>
      </nav>
  </section>
  
  <section class="engine"><a href="https://mobirise.co/q">bootstrap slider</a></section><section class="header11 cid-qv5D4nkUot" id="header11-46" data-rv-view="2039">
  
      <!-- Block parameters controls (Blue "Gear" panel) -->
      
      <!-- End block parameters -->
  
      
      <div class="container align-left">
          <div class="media-container-column mbr-white col-md-12">
              
              <h1 class="mbr-section-title py-3 mbr-fonts-style display-1">CAUSER AVEC KOZKOZ</h1>
              
              <div class="mbr-section-btn py-4"><a class="btn btn-md btn-black display-4" href="https://mobirise.com/bootstrap-template/mobirise-free-template.zip">FREE DOWNLOAD</a>
                      <a class="btn btn-md btn-white-outline display-4" href="map-template.html#map1-30">LIVE DEMO</a></div>
          </div>
      </div>
  
      
  </section>